/*CONTENEDORES PRINCIPALES*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header{
    background-color: #1C2541;
    color: white;
    font-weight: bold;

}
body{
    font-family: calibri;
    background-color: #3A506B;
    color: white;
    /*overflow-x: hidden;*/
}
footer{
    background-color: #0B132B;
}
/* HEADER */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
ul li{
    display: inline-block;
    padding: 0px 10px;
}
#Bienvenida{
    font-size: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.Opcion{
    color: white;
    text-decoration: none;
}
#listOpc{
    list-style-type: none;
}
/*INICIO*/
#Inicio{
    background-color: #335C81;
    color: white;
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 20%;
    padding-top: 20%;
    display: flex;
    justify-content: center;
}
#fotoPerfil{
    border-radius: 50%;
    width: 300px;   
}
#nombre{
    padding-bottom: 20%;
    padding-left: 11%;
}
/*SOBRE MI*/
.SobreMi{
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 100px;
}
#ttlSobreMi{
    font-size: 30px;
}
#pSobreMi{
    font-size: 17px;
    margin-bottom: 0px;
}
#Conocimientos{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 100px;
}
.imgLang{
    width: 100px;
    height: 100px;
    margin: 20px;
}
/*PROYECTOS*/
#Proyectos{
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;

}
a{
    color: white;
    text-decoration: none;
}
figure{
    width: 350px;
    height: 320px;
    border: 2px solid #1C2541;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    margin: 3px;
    background-color: #1C2541;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 200px;
}
#ttlProyectos{
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 100px;
    margin-bottom: 25px;
}
.imgProyecto{
    width: 300px;
    margin-left: 75px;
    display: block;
    margin: 0 auto;
}
#imgProyecto2{
    height: 175px;
}
#imgProyecto3{
    height: 170px;
}
/*REDES*/
#Redes{
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.imgRedes{
    width: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}
#imgRedes2{
    height: 85px;
    width: 85px;
}
#ttlRedes{
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 50px;
    text-align: center;
}
/*CONTACTO*/
#Contacto{
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
#Formulario{
    border: 1px solid white;
    padding: 50px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}
label{
    margin-right: 3px;
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 10px;
}
input,
textarea{
    width: 300px;
    margin-bottom: 10px;
}
#msg{
    align-self: flex-start;
    height: 100px;
}
button{
    width: 80px;
}

